:root{
    --dark: #3C4350;
    --accent: #E27C33;
    --gray-l: #FBFBFB;
    --gray: #F4F4F4;
    --gray-d: #A6A6A6;
    --gray-sd: #7B7B7B;
    --text: #333
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-weight:400;
    color:var(--text);
    min-width: 340px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
}

.top-line{
    background-color: var(--dark);
    color: #fff;
    height: 50px;
    font-size: 14px;
}

.top-line .container{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.top-line__main{
    height: 100%;
}
.select-city__icon{
    margin-left: 15px;
}
.select-city{
    padding-right: 35px;
    border-right: 1px solid #636973;
}
.pick-up-point{
    padding: 0 35px 0 35px;
    border-right: 1px solid #636973;
}
.pick-up-point__icon{
    margin-left: 15px;
}
.top-line-time{
    padding: 0 35px 0 35px;
}
.top-line-time__text{
    color:var(--gray-d);
}
.top-line-time__text span{
    color:#fff;
}
.user-account__icon{
    margin-right: 15px;
}
.ml-logo img{
    max-width: 50px;
}

.middle-line .container{
 align-items: stretch;
}

.middle-line .ml-logo{
    width: 15%;
    padding: 15px 0;
    border-right: 1px solid var(--gray);
}
.fast-search{
    width: 40%;
    padding: 15px 35px;
    border-right: 1px solid var(--gray);
}
.ml-callback{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid var(--gray);
    padding-left: 35px;
}

.ml-callback__phone{
    font-weight: 600;
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
}

.ml-callback__call{
    color: var(--accent);
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
}

.ml-action{
    width: 25%;
    justify-content: space-between;
    padding-left: 35px;
}

.fast-search__input{
    position: relative;
}
.fast-search__input input{
    width: 100%;
    height: 50px;
    background-color: var(--gray-l);
    border: 1px solid var(--gray);
    padding: 0 15px;
}

.fast-search__icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.fast-search__example{
    font-size: 12px;
    color: var(--gray-sd);
}

.ml-action_cart{
    display: flex;
    align-items: center;
}
.ml-action__cart_text{
    font-size: 14px;
    margin-left: 5px;
}

/*1.01.32*/
